/*
use this css file from now on -Ilyas
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
    padding: 0.5rem;
    display: block;
    width: 30rem;
    border: 1px solid black;
}

.prompt-empty{
height: 26em;
margin: 1em;
}

.drawing-area {
    display: block;
    margin-left: 56;
    width: 400px;
    height: 400px;
    background-color: black;
    border: 2px solid greenyellow;
}

.prompt{
height: 6em;
margin: 1em;
}

button {
    margin-left: 1em;
}

.searchBar{
    display: inline-block;
}